version: 2

updates:
- package-ecosystem: github-actions
  directory: /
  labels:
    - "dependencies"
    - "github_actions"
    - "team:infra"
  schedule:
    interval: weekly
    day: saturday
    time: "01:00"
    timezone: Europe/Berlin
